body {
    font-family: sans-serif;
    line-height: 1.5;
}

hr {
    margin: 30px 0;
    border: 1px solid #eee;
}

.lista-mixta-1 {
    list-style-type: upper-roman;
}

.lista-mixta-1 ol {
    list-style-type: upper-alpha;
}

.lista-mixta-1 ol ol {
    list-style-type: decimal;
}

.lista-mixta-2 {
    list-style-type: upper-roman;
}

.lista-mixta-2 ol {
    list-style-type: upper-alpha;
}

.lista-mixta-2 ul {
    list-style-type: square;
}